export default [
  { UserAgent: '*' },
  { Disallow: '/rss' },
  { Disallow: '/search' },
  { Disallow: '/?search=' },
  { Disallow: '/?' },
  { Disallow: '/*?' },
  { Disallow: '/*?*' },
  { Disallow: '/*%' },
  { BlankLine: true },
      
  { Sitemap: (req) => `https://${req.headers.host}/sitemap.xml` }
]