/** FontAwesome **/
//https://fontawesome.com/icons?d=gallery&m=free
$fa-font-path: "fonts/fontawesome/webfonts" !default;
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/regular.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/light.scss";
@import "fontawesome/thin.scss";
@import "fontawesome/duotone.scss";
/** END FontAwesome **/

/*Font Size*/
@for $i from 1 through 50 {
  .font-rem-#{$i} {
    font-size: 0.5rem * $i !important;
  }
}

@for $i from 1 through 9 {
  .font-rem-1-#{$i} {
    font-size: 1rem + 0.1 * $i !important;
  }
}

@for $i from 1 through 9 {
  .font-rem-0-#{$i} {
    font-size: .1rem * $i !important;
  }
}

@for $i from 10 through 70 {
  .font-#{$i} {
    font-size: 1px * $i !important;
  }
}

@media (max-width: 768px) {
  @for $i from 10 through 70 {
    .font-xs-#{$i} {
      font-size: 1px * $i !important;
    }
  }

  @for $i from 1 through 50 {
    .font-rem-xs-#{$i} {
      font-size: 0.5rem * $i !important;
    }
  }
}

@media (min-width: 768px) {
  @for $i from 10 through 70 {
    .font-sm-#{$i} {
      font-size: 1px * $i !important;
    }
  }

  @for $i from 1 through 50 {
    .font-rem-sm-#{$i} {
      font-size: 0.5rem * $i !important;
    }
  }
}

@media (min-width: 992px) {
  @for $i from 10 through 70 {
    .font-md-#{$i} {
      font-size: 1px * $i !important;
    }
  }

  @for $i from 1 through 50 {
    .font-rem-md-#{$i} {
      font-size: 0.5rem * $i !important;
    }
  }
}

@media (min-width: 1200px) {
  @for $i from 10 through 70 {
    .font-lg-#{$i} {
      font-size: 1px * $i !important;
    }
  }

  @for $i from 1 through 50 {
    .font-rem-lg-#{$i} {
      font-size: 0.5rem * $i !important;
    }
  }
}

@media (min-width: 1200px) {
  @for $i from 10 through 70 {
    .font-xl-#{$i} {
      font-size: 1px * $i !important;
    }
  }

  @for $i from 1 through 50 {
    .font-rem-xl-#{$i} {
      font-size: 0.5rem * $i !important;
    }
  }
}

/*Font Weight*/
@for $i from 1 through 6 {
  .font-weight-#{$i}00 {
    font-weight: $i * 100 !important;
  }
}

/*Text Case*/
.text-nonecase {
  text-transform: none !important;
}

/*Letter Spacing*/
@for $i from 5 through 30 {
  .letter-spacing-#{$i} {
    font-size: 0.1px * $i;
  }
}

/*Line Height*/
@for $i from 0 through 20 {
  .line-height-#{$i} {
    font-size: 0.1px * $i;
  }
}